In [1]:
import pandas as pd

In [61]:
df=pd.read_csv('공모전데이터_분석용_KOTRA_0525.csv',sep=",")

In [12]:
df.shape

(21189, 16)

In [14]:
df.isnull().sum()

UNC_YEAR                      0
HSCD                          0
COUNTRYCD                     0
COUNTRYNM                     0
TRADE_COUNTRYCD               0
TRADE_HSCD                    0
TARIFF_AVG                  129
SNDIST                       22
NY_GDP_MKTP_CD                0
NY_GDP_MKTP_CD_1Y             0
SP_POP_TOTL                   0
PA_NUS_FCRF                3488
IC_BUS_EASE_DFRN_DB           0
KMDIST                        0
TRADE_HSCD_COUNTRYCD         21
KR_TRADE_HSCD_COUNTRYCD       0
dtype: int64

In [96]:
df.columns=['기준연도','품목코드','국가코드','국가명','품목수입금액','전세계총수입금액','평균관세율','국가간평균거리','GDP','전년도GDP','인구','공식환율','용이성점수','한국거리','해당품목수입금액','한국으로부터수입한금액']

In [22]:
df.

,기준연도,폼목코드,국가코드,국가명,품목수입금액,전세계총수입금액,평균관세율,국가간평균거리,GDP,전년도GDP,인구,공식환율,용이성점수,한국거리,해당품목수입금액,한국으로부터수입한금액
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.109810,9954.009766,3.416326e+06,7657
1,2017,190590,36,Australia,228441691195,19480986257,0.0,12203.155980,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,4.387470e+08,5294788
2,2017,190590,40,Austria,166475020975,19480986257,0.0,4403.247293,417237869116,395568644341,8797566,NaN,78.856460,8289.029297,4.532064e+08,335818
3,2017,190590,56,Belgium,406412223480,19480986257,0.0,3980.375563,502698069367,475739588765,11375158,NaN,72.409200,8722.114258,7.065245e+08,173709
4,2017,190590,76,Brazil,150749493921,19480986257,18.0,9644.206941,2062831045936,1795700168991,207833831,3.191389,55.382403,18364.505860,3.132965e+07,122850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21184,2017,852852,784,United Arab Emirates,270954907547,18327708223,NaN,5643.250737,385605506855,357045064670,9487203,3.672500,77.434350,6909.236328,2.056493e+08,881214
21185,2017,852852,792,Turkey,233799651234,18327708223,NaN,4123.461111,858988610574,869683121563,81101892,3.648133,69.378820,7967.700684,1.330809e+08,9545535
21186,2017,852852,818,Egypt,66338749061,18327708223,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1313545
21187,2017,852852,826,United Kingdom,641332371112,18327708223,NaN,4071.487776,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,1.142794e+09,19876811
21188,2017,852852,842,USA,2405276626657,18327708223,NaN,8356.072383,19519353692000,18714960538000,324985539,1.000000,83.352553,11065.702150,5.496100e+09,152988098

In [24]:
df.isnull().sum()

기준연도              0
폼목코드              0
국가코드              0
국가명               0
품목수입금액            0
전세계총수입금액          0
평균관세율           129
국가간평균거리          22
GDP               0
전년도GDP            0
인구                0
공식환율           3488
용이성점수             0
한국거리              0
해당품목수입금액         21
한국으로부터수입한금액       0
dtype: int64

In [28]:
country_list=list(df['국가명'].unique())

In [60]:
df

       기준연도          국가명
2      2017      Austria
3      2017      Belgium
11     2017       France
12     2017      Germany
17     2017        Italy
...     ...          ...
21157  2017       France
21158  2017      Germany
21163  2017        Italy
21170  2017  Netherlands
21182  2017        Spain

[3488 rows x 2 columns]

In [108]:
country_list.sort()
country_list

['Algeria',
 'Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Canada',
 'Chile',
 'China',
 'China, Hong Kong SAR',
 'Czechia',
 'Egypt',
 'France',
 'Germany',
 'Guatemala',
 'India',
 'Indonesia',
 'Iran',
 'Italy',
 'Japan',
 'Kazakhstan',
 'Kuwait',
 'Malaysia',
 'Mexico',
 'Mongolia',
 'Myanmar',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Peru',
 'Philippines',
 'Poland',
 'Russian Federation',
 'Saudi Arabia',
 'Singapore',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Switzerland',
 'Turkey',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Viet Nam']

In [32]:
df_raw=df.sort_values('국가명')

In [35]:
df_raw.isnull().sum()

기준연도              0
폼목코드              0
국가코드              0
국가명               0
품목수입금액            0
전세계총수입금액          0
평균관세율           129
국가간평균거리          22
GDP               0
전년도GDP            0
인구                0
공식환율           3488
용이성점수             0
한국거리              0
해당품목수입금액         21
한국으로부터수입한금액       0
dtype: int64

In [63]:
df[df_raw['공식환율'].isnull()==True]['국가명'].unique()

<ipython-input-63-f6aa8d7e89c7>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df_raw['공식환율'].isnull()==True]['국가명'].unique()

array(['Austria', 'Belgium', 'France', 'Germany', 'Italy', 'Netherlands',
       'Spain'], dtype=object)

In [83]:
df['공식환율'].fillna(0.88521,inplace=True)

In [84]:
df.isnull().sum()

기준연도             0
폼목코드             0
국가코드             0
국가명              0
품목수입금액           0
전세계총수입금액         0
평균관세율          129
국가간평균거리         22
GDP              0
전년도GDP           0
인구               0
공식환율             0
용이성점수            0
한국거리             0
해당품목수입금액        21
한국으로부터수입한금액      0
dtype: int64

In [112]:
df[df['해당품목수입금액'].isnull()==True]['품목코드'].unique()

array([190590, 190230, 190219, 540769, 210690, 210390, 481890, 600410,
       852692, 382499, 852852], dtype=int64)

In [118]:
df[df['품목코드']==190590][['국가명']

,기준연도,품목코드,국가코드,국가명,품목수입금액,전세계총수입금액,평균관세율,국가간평균거리,GDP,전년도GDP,인구,공식환율,용이성점수,한국거리,해당품목수입금액,한국으로부터수입한금액
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.109810,9954.009766,3.416326e+06,7657
1,2017,190590,36,Australia,228441691195,19480986257,0.0,12203.155980,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,4.387470e+08,5294788
2,2017,190590,40,Austria,166475020975,19480986257,0.0,4403.247293,417237869116,395568644341,8797566,0.885210,78.856460,8289.029297,4.532064e+08,335818
3,2017,190590,56,Belgium,406412223480,19480986257,0.0,3980.375563,502698069367,475739588765,11375158,0.885210,72.409200,8722.114258,7.065245e+08,173709
4,2017,190590,76,Brazil,150749493921,19480986257,18.0,9644.206941,2062831045936,1795700168991,207833831,3.191389,55.382403,18364.505860,3.132965e+07,122850
5,2017,190590,104,Myanmar,19253441935,19480986257,5.0,5891.659995,68945867478,67184236747,53382581,1360.358707,42.671390,3796.142578,1.276182e+07,631082
6,2017,190590,124,Canada,432405117520,19480986257,0.0,7911.783801,1649878054227,1528243213982,36543321,1.297936,79.540940,10617.703130,1.113991e+09,7273171
7,2017,190590,144,Sri Lanka,21316172076,19480986257,30.0,6176.303320,87428125558,82401038710,21444000,152.446414,59.823730,5840.512695,8.417570e+05,44837
8,2017,190590,152,Chile,65257236198,19480986257,0.0,9550.300571,277044950259,250440136356,18470439,648.833793,71.581850,18375.181640,4.272341e+07,63715
9,2017,190590,156,China,1843792938795,19480986257,8.6,6363.348377,12310409370893,11233276536737,1386395000,6.758755,64.639360,955.651062,3.067651e+08,8011591
10,2017,190590,203,Czechia,162898931578,19480986257,0.0,3462.111609,218628940952,196272068576,10594438,23.376333,76.388340,8262.062500,2.444020e+08,113546
11,2017,190590,251,France,613132553087,19480986257,0.0,4747.427061,2595151045198,2471285607082,66864379,0.885210,76.250380,8981.466797,1.257973e+09,864324
12,2017,190590,276,Germany,1167753276317,19480986257,0.0,4384.871108,3682602479929,3467498002104,82657002,0.885210,79.554300,8543.784180,1.449166e+09,2086252
13,2017,190590,320,Guatemala,18377914375,19480986257,15.0,6516.179027,71612352645,66053725049,16087418,7.347939,61.956310,13029.692380,6.029119e+07,127538
14,2017,190590,344,"China, Hong Kong SAR",589317409641,19480986257,0.0,7404.406891,341244161577,320837638329,7391700,7.793250,84.760590,2095.842529,2.875533e+08,11043420
15,2017,190590,360,Indonesia,156925129942,19480986257,0.0,8139.543778,1015618742566,931877364178,264645886,13380.833880,64.528933,5291.683594,4.344182e+07,950567
16,2017,190590,364,Iran,51612276867,19480986257,30.0,4021.444727,445345256459,417983583566,80673951,33226.298150,55.707860,6562.448242,1.788580e+05,7441
17,2017,190590,381,Italy,453582969038,19480986257,0.0,4388.472723,1961796197354,1875797463584,60536709,0.885210,71.825650,8982.659180,5.810275e+08,233720
18,2017,190590,392,Japan,671474268771,19480986257,17.8,7636.854213,4866864409658,4922538141455,126785797,112.166141,78.020697,1156.669556,3.599355e+08,9701684
19,2017,190590,398,Kazakhstan,29345907738,19480986257,10.9,4293.407008,166805800596,137278320084,18037776,326.001023,74.848790,4227.771973,5.922759e+07,47896
20,2017,190590,414,Kuwait,33568329846,19480986257,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,793439
21,2017,190590,458,Malaysia,194720148769,19480986257,0.0,6798.215338,319112136545,301255380276,31105028,4.300441,78.272910,4614.067383,4.247042e+07,3085301
22,2017,190590,484,Mexico,420369113272,19480986257,10.0,8410.729379,1158913035796,1078490651625,124777324,18.926517,73.394083,12066.007810,1.426117e+08,87723
23,2017,190590,496,Mongolia,4337305039,19480986257,5.0,5363.696559,11425755280,11186734674,3113779,2439.777201,66.135100,2003.103271,8.082522e+06,636777
24,2017,190590,528,Netherlands,450075522630,19480986257,0.0,5428.923073,833869641687,783528181705,17131296,0.885210,75.572810,8573.182617,8.057291e+08,505098
25,2017,190590,554,New Zealand,40128397719,19480986257,0.0,13546.890010,205415864858,188223664747,4793900,1.407408,87.166330,10293.836910,1.111315e+08,1879845
26,2017,190590,579,Norway,85525812090,19480986257,2.6,4470.207732,398393955269,368819929542,5276968,8.271667,82.356140,7730.766602,2.711531e+08,15877
27,2017,190590,604,Peru,39763884637,19480986257,0.0,9853.501457,211007207484,191895943824,31444297,3.260488,67.517500,16329.764650,1.741767e+07,233948
28,2017,190590,608,Philippines,101889431966,19480986257,0.0,7809.327224,328480738147,318627003966,105173264,50.403720,59.258720,2615.750732,2.933828e+07,3793933
29,2017,190590,616,Poland,217978575741,19480986257,0.0,3480.012872,526508877305,472630364208,37974826,3.779333,77.680440,7753.967285,1.995688e+08,52868
30,2017,190590,643,Russian Federation,228212749972,19480986257,10.9,3309.089692,1574199387071,1276786979222,144496740,58.342801,75.213127,6614.064453,2.095301e+08,5610937
31,2017,190590,682,Saudi Arabia,134519106951,19480986257,5.0,5075.358346,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,2.184429e+08,6329950
32,2017,190590,699,India,444052307098,19480986257,5.0,5464.752970,2652754685835,2294797978292,1338658835,65.121569,55.901587,4692.671875,9.615105e+06,75487
33,2017,190590,702,Singapore,327709659599,19480986257,0.0,8110.872924,341863349989,318652334419,5612253,1.380925,85.441380,4676.682617,1.784853e+08,2417045
34,2017,190590,704,Viet Nam,213215271369,19480986257,0.0,6450.914231,223779865815,205276172135,94596642,22370.086670,65.288610,2740.135254,2.847099e+07,8668150
35,2017,190590,710,South Africa,83030698712,19480986257,15.2,8109.603897,349554116684,296357282715,57000451,13.323801,65.406860,13723.413090,4.192950e+07,229391
36,2017,190590,724,Spain,350921494220,19480986257,0.0,4878.945039,1312539279462,1232076017362,46593236,0.885210,77.630750,10012.641600,4.650498e+08,372912
37,2017,190590,757,Switzerland,267501427846,19480986257,11.5,4511.371039,679950481623,671309197478,8451840,0.984692,76.420920,8878.165039,3.546198e+08,168899
38,2017,190590,784,United Arab Emirates,270954907547,19480986257,5.0,5116.291740,385605506855,357045064670,9487203,3.672500,77.434350,6909.236328,2.888487e+08,3517956
39,2017,190590,792,Turkey,233799651234,19480986257,1.7,3363.981820,858988610574,869683121563,81101892,3.648133,69.378820,7967.700684,3.678168e+07,43074
40,2017,190590,818,Egypt,66338749061,19480986257,23.0,4102.091983,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,1.344146e+06,1750
41,2017,190590,826,United Kingdom,641332371112,19480986257,0.0,4791.770544,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,1.728298e+09,1035987
42,2017,190590,842,USA,2405276626657,19480986257,0.0,7611.295210,19519353692000,18714960538000,324985539,1.000000,83.352553,11065.702150,3.200642e+09,55838057

6    0.005439
Name: 해당품목수입금액, dtype: float64

In [116]:
df.groupby('품목코드')['해당품목수입금액'].mean()

품목코드
190219    6.438356e+07
190230    5.213984e+07
190590    3.772158e+08
210390    1.568825e+08
210690    6.400150e+08
              ...
960990    6.966255e+06
961210    3.074897e+07
961590    6.684756e+06
961620    8.808351e+06
999999    9.281303e+09
Name: 해당품목수입금액, Length: 500, dtype: float64

In [105]:
df[df['품목코드']==420232][df['평균관세율'].isnull()==True]

<ipython-input-105-bdef1ae3bdde>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['품목코드']==420232][df['평균관세율'].isnull()==True]

,기준연도,품목코드,국가코드,국가명,품목수입금액,전세계총수입금액,평균관세율,국가간평균거리,GDP,전년도GDP,인구,공식환율,용이성점수,한국거리,해당품목수입금액,한국으로부터수입한금액
1283,2017,420232,364,Iran,51612276867,3217791610,NaN,3739.981527,445345256459,417983583566,80673951,33226.29815,55.70786,6562.448242,113374.0,0

In [102]:
df[df['품목코드']==420232].shape

(43, 16)